/* RULES FOR SPECIFIC ELEMENTS AND CLASSES */

/* ----------------------------------------------------------------------- SIDEBAR NAVIGATION ------------------------ */
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 0px;
  overflow-x: hidden;
  background-color: rgba(161, 97, 32, 0.667);
}

.sidenav button {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #fdf6f0;
  display: block;
  border: none;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-weight: bolder;
  margin-bottom: 5px;
}

.sidenav>NavLink {
  text-decoration: none;
}

.sidenav button:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidenav>img {
  padding: 30px;
}

/* ----------------------------------------------------------------------- SEARCH ------------------------------------- */
#search {
  width: 100%;
  border-radius: 4px;
  border: 3px solid transparent;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------------------------------- TIMELINE ------------------------------------- */
.tl-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.tl-container::after {
  background-color: #e1b377d1;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 5px;
  height: 100%;
}

.tl-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.tl-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.tl-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  position: relative;
  width: 50rem;
  max-width: 70%;
  text-align: right;
  margin-right: 40px;
}

.tl-content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.tl-item:nth-child(odd) .tl-content {
  text-align: left;
  /* align-items: flex-end; */
  margin-left: 40px;
}

.tl-item:nth-child(odd) .tl-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tl-content .circle {
  background-color: #fff;
  border: 3px solid #e1b377;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -90px;
  width: 20px;
  height: 20px;
  z-index: 100;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.tl-item:nth-child(odd) .tl-content .circle {
  right: auto;
  left: -90px;
}

.tl-content img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* .tl-content .tag {
  color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.tl-item:nth-child(odd) .tl-content .tag {
  left: auto;
  right: 5px;
} */

/* ----------------------------------------------------------------------- COMMENTS ------------------------------------- */
.comments-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

/* .comments-container {
  margin: 2rem auto;
  display: inline;
  border: 2px solid red;
} */

.comment-item {
  padding: 10px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
}

.comment-content {
  margin: left;
  border: 2px solid green;
}

.comment-button {
  margin: 10px;
  padding: 4px;
  position: right;
}

/* ----------------------------------------------------------------------- MOBILE DISPLAY ------------------------------------- */

@media only screen and (max-width: 1023px) {
  .tl-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .tl-container {
    margin-right: 30%;
    width: 90%;
  }

  button {
    font-size: 30%;
  }

  .tl-content,
  .tl-item:nth-child(odd) .tl-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
    font-size: 40%;
  }

  .tl-content img {
    width: 100%;
  }

  .sidenav button {
    font-size: 50%;
  }
}